<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image</title>
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <nav>
            <div class="left-nav">
                <a href="../../index.html">Techno UI</a>
               
            </div>
            <ul class="right-nav">
                <li><a class="active" href="../../index.html">Home</a></li>
                <li><a class="active" href="#">Docs</a></li>
                
            </ul>
        </nav>
        <hr>
        <div class="doc-container">
            <div class="sidebar">
        
        <div>
            <div class="list-topic">
                <a href="/Getstarted/intorduction.html">Get Started</a>
                </div>
                <ul class="list-subtopic">
                    <li>
                        <a href="/Getstarted/intorduction.html">
                            Introduction
                        </a>
                    </li>
                    <li>
                        <a href="/components/colors/color.html">
                           Colors
                        </a>
                    </li>
                    <li>
                        <a href="/components/typography/typography.html">
                            Text Utilities
                        </a>
                    </li>
                    </ul>
            <div class="list-topic">
                <a href="/Components/Avatar/avatar.html">Components</a>
            </div>
            <ul class="list-subtopic">
                <li>
                    <a href="/components/avatar/avatar.html">
                        Avatar
                    </a>
                </li>
                <li>
                    <a href="/components/alert/alert.html">
                        Alert
                    </a>
                </li>
                <li>
                    <a href="/components/badge/badge.html">
                        Badge
                    </a>
                </li>
                <li>
                    <a href="/components/button/button.html">
                        Button
                    </a>
                </li>
                <li>
                    <a href="/components/card/card.html">
                        Card
                    </a>
                </li>
                <li>
                    <a href="/components/image/image.html">
                        Image
                    </a>
                </li>
                <li>
                    <a href="/components/input/input.html">
                        Input
                    </a>
                </li>
                <li>
                    <a href="/components/list/list.html">
                        List
                    </a>
                </li>
                <li>
                    <a href="/components/toast/toast.html">
                        Toast
                    </a>
                </li>
                <li>
                    <a href="/components/Navigation/Navigation.html">
                        Navigation
                    </a>
                </li>
                <li>
                    <a href="/components/modal/modal.html">
                        Modal
                    </a>
                </li>
                <li>
                    <a href="/components/rating/rating.html">
                        Rating
                    </a>
                </li>
                <li>
                    <a href="/components/grid/grid.html">
                        Grid
                    </a>
                </li>
                <li>
                    <a href="/components/slider/slider.html">
                        Slider
                    </a>
                </li>
               

            </ul>
        </div>
        </div>
    <div class="doc-content">
        <div class="content-title">Image</div>
        <div class="content-subtitle">
            "Image components are used to display images websites, 
            which are screen responsive."
        </div>
        <div class="divider"></div>
        <div class="content-head">Responsive Image</div>
        <div class="content-subtitle">
            image-responsive to make your image fit the width of container
        </div>
        <div class="example-div">
            <div>
                <img src="https://images.unsplash.com/photo-1489359413553-6c264fb36c83?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" 
                alt="responsive-image" class="rsp-img"/>
            </div>
            </div>
            <div class="example-code">
            <pre>
                  <code class="html">
                  &lt;img src="url-of-the-image" alt="responsive-image"class="resp-img"/>
                 </code>
                </pre>
            </div>
        <div class="divider"></div>
        <div class="content-head">Round Image</div>
        <div class="content-subtitle">
            "Round images are circular, with a default dimensions 150px X 150px "
        </div>
        <div class="example-div">
            <div>
                <img src="https://picsum.photos/id/1027/300/300" alt="image" class="round-img">
                <img src="https://picsum.photos/id/1039/300/300" alt="image" class="round-img">
            </div>
            </div>
            <div class="example-code">
                <pre>
                      <code class="html">
                      &lt;img src="url-of-the-image" alt="image"class="round-img"/>
                     </code>
                    </pre>
                </div>
                <div class="divider"></div>

                <footer>
                    <div class="prev-comp">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path></svg>
                        <a href="../card/card.html">Card</a>
                    </div>
                    <div class="next-comp">
                        <a href="../input/input.html">Input</a>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path></svg>
                    </div>
                     </footer>
        </div>
        </div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>