<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input</title>
    <link rel="stylesheet" href="input.css">
</head>
<body>
    <div class="doc-content">
        <div class="content-title">Inputs</div>
        <div class="content-subtitle">
            "Inputs are nessasary for user interaction with the websites
            Inputs are used to take information from the user."
        </div>
        <div class="divider"></div>
        <div class="content-head">Standared Inputs</div>
        <div class="content-subtitle">
           Standared inputs are basically label inputs. it has a label present at the top
           of the input field.
        </div>
        <div class="example-div alert-box">
            <div class="input-group">
                <label>Username*</label>
                <input type="text">
            </div>
            <div class="input-group">
                <label>Email-id*</label>
                <input type="text">
            </div>
            <div class="input-group">
                <label>Password*</label>
                <input type="text">
            </div>
            </div>
            <div class="example-code">
         <pre>
         <code class="html hljs xml">
          &lt;div class="input-group">&lt;label>Username*&lt;/label>
          &lt;input type="text"> &lt;/div>
          &lt;div class="input-group">&lt;label>Email-id*&lt;/label>
          &lt;input type="text"> &lt;/div>
          &lt;div class="input-group">&lt;label>Password*&lt;/label>
          &lt;input type="text"> &lt;/div>
          </code>
          </pre>
         </div>
         <div class="divider"></div>
         <div class="content-head">Validation</div>
         <div class="content-subtitle">
            "There are 3 types of inputs available apart from the default
            one <strong>error,warn,success.</strong>"
         </div>
         <div class="example-div alert-box">
            <div class="input-group success">
                <label>Success</label>
                <input type="text">
            </div>
            <div class="input-group warning">
                <label>Warning</label>
                <input type="text">
            </div>
            <div class="input-group error">
                <label>Error</label>
                <input type="text">
            </div>
            </div>
            <div class="example-code">
                <pre>
                <code class="html hljs xml">
                 &lt;div class="input-group success">&lt;label>Success&lt;/label>
                 &lt;input type="text"> &lt;/div>
                 &lt;div class="input-group warning">&lt;label>Warning&lt;/label>
                 &lt;input type="text"> &lt;/div>
                 &lt;div class="input-group error">&lt;label>Error&lt;/label>
                 &lt;input type="text"> &lt;/div>
                 </code>
                 </pre>
                </div>
          
         <div class="divider"></div>
        <div class="content-head">Radio Inputs</div>
        <div class="content-subtitle">
           "Radio buttons allow the user to select one from a set"
        </div>
        <div class="example-div alert-box">
           <div class="radio">
            <label for="radio-1">
            <input id="radio-1" name="radio" type="radio" checked>
            Checked</label>
            </div>
            <div class="radio">
                <label for="radio-2">
                <input id="radio-2" name="radio" type="radio" unchecked>
                UnChecked</label>
                </div>
                <div class="radio">
                    <label for="radio-3">
                    <input id="radio-3" name="radio" type="radio" none>
                    None</label>
                    </div>
                </div>
                <div class="example-code">
                    <pre>
                    <code class="html hljs xml">
                &lt;div class="radio"> &lt;label for="radio-1">
                &lt;input id="radio-1" name="radio" type="radio" checked >
                Checked&lt;/label>
                &lt;/div>
                &lt;div class="radio"> &lt;label for="radio-2">
                &lt;input id="radio-2" name="radio" type="radio" unchecked >
                Unchecked&lt;/label>
                &lt;/div>
                &lt;div class="radio"> &lt;label for="radio-3">
                &lt;input id="radio-3" name="radio" type="radio" none >
                None&lt;/label>
                &lt;/div>

            </code>
            </pre>
            </div>
        </div>
</body>
</html>