<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>typography</title>
    <link rel="stylesheet" href="typography.css">
</head>
<body>
    <div class="doc-content">

        <div class="content-title">
            Typography
        </div>
        <div class="content-subtitle intro">
            Documentation and examples for Sparrow typography, including global settings, headings, body text, lists, and more. 
        </div>

        <div class="divider"></div>

        <!-- Headings -->
        <div class="content-head">
            Headings
        </div>

        <div class="content-subtitle">
            All HTML headings, <code>&lt;h1></code> through <code>&lt;h6></code>, are available. 
        </div>

        <div class="example-div heading-box">
            <h1>h1. Heading1</h1>
            <div class="divider m-1"></div>
            <h2>h2. Heading2</h2>
            <div class="divider m-1"></div>
            <h3>h3. Heading3</h3>
            <div class="divider m-1"></div>
            <h4>h4. Heading4</h4>
            <div class="divider m-1"></div>
            <h5>h5. Heading5</h5>
            <div class="divider m-1"></div>
            <h6>h6. Heading6</h6>
        </div>

        

</body>
</html>