<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
</head>
<body>
    <div class="doc-container">
    <main class="doc-content">
        <div class="content-title">Grid</div>
        <p class="content-subtitle">
          A grid layout provides a versatile layout to place elements on the page.There are two grid layouts available two and three column layouts.
        </p>
        <div class="divider"></div>
        <div class="content-head">Two column grid</div>
        <div class="content-subtitle">
          Two column grid can be used by using the <span class="class-name">'grid-two'</span> class. You can copy html part from below code snippet.
        </div>
        <div class="example-div">
          <div class="grid grid-two">
              <div class="grid-item">Grid One</div>
              <div class="grid-item">Grid Two</div>
          </div>
        </div>
        <div class="example-code">
      <pre>
          <code class = "html hljs xml">
          &lt;div class="grid grid-two"&gt;
          &lt;div class="grid-item"&gt;Grid One&lt;/div&gt;
          &lt;div class="grid-item"&gt;Grid Two&lt;/div&gt;
          &lt;/div&gt;
          </code>
      </pre>
      </div>
      <div class="divider"></div>
      <div class="content-head">Three column grid</div>
      <div class="content-subtitle">
        Three column grid can be used by using the <span class="class-name">'grid-three'</span> class. You can copy html part from below code snippet.
      </div>
        <div class="example-div">
          <div class="grid grid-three">
              <div class="grid-item">Grid One</div>
              <div class="grid-item">Grid Two</div>
              <div class="grid-item">Grid Three</div>
            </div>
        </div>
        <div class="example-code">
          <pre>
              <code class = "html hljs xml">
              &lt;div class="grid grid-three"&gt;
              &lt;div class="grid-item"&gt;Grid One&lt;/div&gt;
              &lt;div class="grid-item"&gt;Grid Two&lt;/div&gt;
              &lt;div class="grid-item"&gt;Grid Three&lt;/div&gt;
              &lt;/div&gt;
              </code>
          </pre>
          </div>
          <div class="divider"></div>
          <div class="content-head">Four column grid</div>
          <div class="content-subtitle">
            Three column grid can be used by using the <span class="class-name">'grid-four'</span> class. You can copy html part from below code snippet.
          </div>
            <div class="example-div">
              <div class="grid grid-four">
                  <div class="grid-item">Grid One</div>
                  <div class="grid-item">Grid Two</div>
                  <div class="grid-item">Grid Three</div>
                  <div class="grid-item">Grid Four</div>
                </div>
            </div>
            <div class="example-code">
              <pre>
                  <code class = "html hljs xml">
                  &lt;div class="grid grid-three"&gt;
                  &lt;div class="grid-item"&gt;Grid One&lt;/div&gt;
                  &lt;div class="grid-item"&gt;Grid Two&lt;/div&gt;
                  &lt;div class="grid-item"&gt;Grid Three&lt;/div&gt;
                  &lt;div class="grid-item"&gt;Grid Four&lt;/div&gt;
                  &lt;/div&gt;
                  </code>
              </pre>
              </div>

          </div>
          </main>
          </div>
          <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
          <script>hljs.highlightAll();</script>
  
</body>
</html>