<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="card.css">
    <script src="https://kit.fontawesome.com/76236e6232.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="doc-content">
        <div class="content-title">Card</div>
        <div class="content-subtitle">
            "Cards are surfaces that display content and actions
            on a single topic. You can use this cards in Ecommerce
            website and in many other places"
        </div>
      <div class="divider"></div>
        <!-- Text only Cards -->
        <div class="content-head">Text Only Cards</div>
        <div class="example-div">
         <div class="card">
            <div class="card-title">Card Title</div>
            <div class="card-text">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </div>
        </div>
        </div>
        <div class="divider"></div>
        <!-- social media card -->
        <div class="content-head">Social Media Card</div>
        <div class="content-subtitle">
            "Social media card is one that contains an Avatar,Profile Name
            ,Image And Description."
        </div>
        <div class="example-div">
    <div class="card">
         <div class="card-head">
        <img src="https://picsum.photos/id/1011/300/300" alt class="avatar">
        Jhon Deo
        </div>
        <img class="card-image" src="https://picsum.photos/id/10/300/300" alt="card-pic">
       <div class="card-text">
        Visit ten places on our planet that are undergoing the biggest
        changes today.
       </div>
    </div>
        </div>
    

       <div class="divider"></div>
    <!-- Cards with badges -->
    <div class="content-head">Card With Badge</div>
    <div class="content-subtitle">
        "Here cards appear with a badge to use this use class card on the container and use class badge."
    </div>
    <div class="example-div">
        <div class="card ecomm">
            <div class="product-image">
             <img src="/components/images/card.png" alt="card-pic">
            </div>
            <div class="card-badge">NEW</div>
            <button class="ico">
                <i class="far fa-heart"></i>
            </button>
            <div class="card-title">Men's Jacket</div>
            <div class="card-price">
                <span class="price-now">Rs.350</span>
                <span class="price-before">Rs.899</span>
                <span class="discount">(60% OFF)</span>
            </div>
            <button class="btn btn-primary">ADD TO CART</button>
        </div>
    </div>
    <div class="divider"></div>
    <!-- Card with dismiss -->
    <div class="content-head">Card With Dismiss</div>
    <div class="content-subtitle">
        "Here cards appear with a badge to dismiss the card to use this use class card 
        dismiss-card on the container and use class dismiss."
    </div>
    <div class="example-div">
        <div class="card ecomm">
            <div class="product-image">
             <img src="/components/images/card.png" alt="card-pic">
            </div>
           <button class="ico">
                <i class="fas fa-times"></i>
            </button>
            <div class="card-title">Men's Jacket</div>
            <div class="card-price">
                <span class="price-now">Rs.350</span>
                <span class="price-before">Rs.899</span>
                <span class="discount">(60% OFF)</span>
            </div>
            <button class="btn btn-primary">ADD TO CART</button>
        </div>
    </div>
    

    <div class="divider"></div>
    <!-- card with text overlay -->
    <div class="content-head">Card with Text Overlay</div>
    <div class="example-div">
        <div class="card ecomm">
            <div class="product-image">
             <img src="/components/images/card.png" alt="card-pic">
            </div>
            <div class="card-title overlay">Men's Jacket</div>
            <div class="card-price">
                <span class="price-now">Rs.350</span>
                <span class="price-before">Rs.899</span>
                <span class="discount">(60% OFF)</span>
            </div>
            <button class="btn btn-primary">ADD TO CART</button>
        </div>
    </div>
</div>
 </div>
</body>
</html>