
.avatar{
    margin: 1rem;
    display: inline;
    border-radius: 50%;
    width: 80px;
    height: 80px;
   
}
.avatar-square {
    margin: 1rem;
    display: inline-block;
    height: 5em;
}
.avatar.avatar-xl {
    width: 70px;
    height: 70px;
}
.avatar.avatar-lg {
    width: 60px;
    height: 60px;
}
.avatar.avatar-md {
   width: 50px;
   height: 50px;
}
.avatar.avatar-sm {
    width: 30px;
    height: 30px;
}