<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link rel="stylesheet" href="avatar.css">
</head>
<body>
    <div class="doc-content">
    <div class="avatar-container">
        <h1>Avatar</h1>
        <p>an avatar is a graphical representation of a user or the user's character. It may take either a two-dimensional form as an icon in Internet forums and other online communities (where it is also known as a profile picture or userpic).</p>
        <h3>Avatar Rounded</h3>
        <p>These are the standared avatars</p>
        <div class="example-div">
        <figure class="avatar">
        <img src="https://picsum.photos/id/1011/300/300" alt="avatar"/>
        </figure>
        <figure class="avatar">
        <img src="https://picsum.photos/id/1003/300/300" alt="avatar"/>
        </figure>
         <figure class="avatar">
         <img src="https://picsum.photos/id/1005/300/300"alt="avatar"/>
        </figure>
    </div>
    <div class="example-code">
        <pre><code class="html hljs xml">
           
        </code></pre>
    </div>
    <div class="divider"></div>
        <h3>Square Avatar</h3>
    <p>squared avatars are the Default Avatars.</p> 
    <div class="example-div">
    <figure class="avatar-square">
 <img src="https://picsum.photos/id/1011/60/60"  alt="avatar"/>
    </figure>
    <figure class="avatar-square">
 <img src="https://picsum.photos/id/1003/60/60"  alt="avatar"/>
</figure>
<figure class="avatar-square">
    <img src="https://picsum.photos/id/1005/60/60"  alt="avatar"/>
   </figure>
</div>
<div class="example-code">
   <pre>
    <code class="html hljs xml">
        
    </code>
</pre>
</div>
<div class="divider"></div>
    <h3>Avatar Sizes</h3>
    <div class="example-div">
    <figure class="avatar avatar-xl">

 <img src="https://picsum.photos/id/1011/300/300"  alt="avatar"/>
    </figure>
    <figure class="avatar avatar-lg">
 <img src="https://picsum.photos/id/1003/300/300"  alt="avatar"/>
</figure>
<figure class="avatar avatar-md">
    <img src="https://picsum.photos/id/1005/300/300"  alt="avatar"/>
   </figure>
   <figure class="avatar avatar-sm">
    <img src="https://picsum.photos/id/1018/300/300"  alt="avatar"/>
   </figure>
</div>
<div class="example-code">
    <pre><code class="html hljs xml">
        
     </code></pre>
    </div>
</div>
</div>
</body>
</html>