<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />

</head>
<body>
    <div class="container">
        <nav>
            <div class="left-nav">
                <a href="../../index.html">Techno UI</a>
               
            </div>
            <ul class="right-nav">
                <li><a class="active" href="#">Docs</a></li>
                
            </ul>
        </nav>
        <div class="doc-container">
            <div class="sidebar">
        
        <div>
            <div class="list-topic">
                <a href="/Components/Avatar/avatar.html">Components</a>
            </div>
            <ul class="list-subtopic">
                <li>
                    <a href="/components/avatar/avatar.html">
                        Avatar
                    </a>
                </li>
                <li>
                    <a href="/components/alert/alert.html">
                        Alert
                    </a>
                </li>
                <li>
                    <a href="/components/badge/badge.html">
                        Badge
                    </a>
                </li>
                <li>
                    <a href="/components/button/button.html">
                        Button
                    </a>
                </li>
                <li>
                    <a href="/components/card/card.html">
                        Card
                    </a>
                </li>
                <li>
                    <a href="/components/image/image.html">
                        Image
                    </a>
                </li>
                <li>
                    <a href="/components/input/input.html">
                        Input
                    </a>
                </li>
            </ul>
        </div>
        </div>

    
    <div class="doc-content">
    <div class="content-title">
        Avatar
        </div>
        <div class="content-subtitle">An avatar is a graphical representation of a user or the user's character. It may take either a two-dimensional form as an icon in Internet 
            forums and other online communities (where it is also known as a profile picture or userpic).
            </div>  
            <div class="divider"></div>
            <div class="content-head">Avatar Rounded</div>
  <div class="content-subtitle">
      These are the standared avatars</div>
        <div class="example-div">
        
        <img class="avatar" src="https://picsum.photos/id/1011/300/300" alt="avatar-1"/>
        
        
        <img class="avatar" src="https://picsum.photos/id/1003/300/300" alt="avatar-1"/>
        
         
         <img class="avatar" src="https://picsum.photos/id/1005/300/300"alt="avatar-1"/>
        
    </div>
    <div class="example-code">
        <pre><code class="html">
            &lt;img class="avatar" src="https://picsum.photos/id/1011/300/300" alt="avatar"&gt;
            &lt;img class="avatar" src="https://picsum.photos/id/1003/300/300"&gt;
            &lt;img class="avatar" src="https://picsum.photos/id/1005/300/300"&gt;
        </code></pre>
    </div>
    <div class="divider"></div>
        <div class="content-head">Square Avatar</div>
    <div class="content-subtitle">squared avatars are the Default Avatars.</div> 
    <div class="example-div">
    
 <img class=" avatar-square" src="https://picsum.photos/id/1011/300/300"  alt="avatar-square"/>

    
<img class=" avatar-square" src="https://picsum.photos/id/1003/300/300"  alt="avatar"/>


<img class=" avatar-square" src="https://picsum.photos/id/1005/300/300"  alt="avatar"/>
   
</div>
<div class="example-code">
   <pre>
    <code class="html">
        &lt;img class="avatar-square" src="https://picsum.photos/id/1011/300/300" alt="avatar"&gt;
        &lt;img class="avatar-square" src="https://picsum.photos/id/1003/300/300"&gt;
        &lt;img class="avatar-square" src="https://picsum.photos/id/1005/300/300"&gt;
    </code>
</pre>
</div>
<div class="divider"></div>
    <div class="content-head">Avatar Sizes</div>
    <div class="content-subtitle">
        Size of the avatars can be changed by adding <code>xl | lg | md | sm</code> class to the existing avatar class.
    </div>

    <div class="example-div">
    <img class="avatar avatar-xl" src="https://picsum.photos/id/1011/500/500"  alt="avatar"/>
    <img class="avatar avatar-lg" src="https://picsum.photos/id/1003/500/500"  alt="avatar"/>
    <img class="avatar avatar-md" src="https://picsum.photos/id/1005/500/500"  alt="avatar"/>
    <img class="avatar avatar-sm" src="https://picsum.photos/id/1018/500/500"  alt="avatar"/>
   
</div>
<div class="example-code">
    <pre><code class="html hljs xml">
        &lt;img class="avatr avatar-xl" src="https://picsum.photos/id/1011/300/300" alt="avatar"&gt;
        &lt;img class="avatar avatar-lg" src="https://picsum.photos/id/1003/300/300"&gt;
        &lt;img class="avatar avatar-md" src="https://picsum.photos/id/1005/300/300"&gt;
        &lt;img class="avatar avatar-sm" src="https://picsum.photos/id/1005/300/300"&gt;
     </code></pre>
    </div>
    <div class="divider"></div>

    <footer>
        <div class="next-comp">
            <a href="../Alert/alert.html">Alert</a>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path></svg>
        </div>
         </footer>
    </div>
</div>
</div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>