<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slider</title>
    <link rel="stylesheet" href="slider.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
</head>
<body>
    <div class="doc-container">
    <main class="doc-content">
        <div class="content-title">Slider</div>
        <div class="content-subtitle">
              Sliders are used to decide range for something like sound in videos, price in shopping sites,
              etc.
        </div>
         <div class="divider"></div>
        <div class="example-div">
            <div class="section-main-text flex-center">
            <div class="slider-container">
                    <input type="range" name="" class="slider" min="0" max="100">
                    <h3 class="sliderValue">50</h3>
                </div>
                </div>
        </div>
            <div class="example-code">
                <pre>
             <code class="htm hljs xml">
                &lt;div class="slider-container">
                    &lt;input type="range" name="" class="slider" min="0" max="100">
                    &lt;h3 class="sliderValue">50&lt;/h3>
                &lt;/div>
                </code>
                </pre>
                </div>
            </main>
            </div>
            <script src="slider.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
            <script>hljs.highlightAll();</script>
    

</body>
</html>