<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>toast</title>
    <link rel="stylesheet" href="toast.css">
</head>
<body>
    <div class="doc-content">
        <div class="content-title">
            Toast
        </div>
        <div class="content-subtitle">
            Toast display messages related to an interaction happened between user and the website. They usually stay on the screen for 2-3 seconds and then disappear.
            <br>
            Toast can be used to show success messages, warnings or errors.
        </div>

        <div class="divider"></div>

        <!-- Simple list -->
        <div class="content-head">
            Success Message
        </div>

        <div class="example-div">
            <div class="toast">
                Your product has been successfully added to the cart.
            </div>
        </div>

        <div class="example-code">
            <pre>
                <code class="html">

        &lt;div class="toast">
            Your product has been successfully added to the cart.
        &lt;/div>
                </code></pre>
        </div>

</body>
</html>