<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <link rel="stylesheet" href="list.css">
</head>
<body>
    <div class="doc-content">
        <div class="content-title">
            List
        </div>
        <div class="content-subtitle">
            Lists are continuous, vertical indexes of text or images. They are composed of items containing primary and supplemental actions, which are represented by icons and text.
        </div>

        <div class="divider"></div>

        <!-- Simple list -->
        <div class="content-head">
            Simple List Groups
        </div>

        <div class="example-div">
            <ul class="list">
                <div class="list-title">Categories</div>
                <li>Home</li>
                <li>Smartphones</li>
                <li>Earphones</li>
                <li>Watches</li>
            </ul>
        </div>

        <div class="example-code">
            <pre>
                <code class="html">

        
        &lt;ul class="list">
            &lt;div class="list-title">Categories&lt;/div>
            &lt;li>Home&lt;/li>
            &lt;li>Smartphones&lt;/li>
            &lt;li>Earphones&lt;/li>
            &lt;li>Watches&lt;/li>
        &lt;/ul>
                </code></pre>
        </div>

        
        <div class="divider"></div>

        <!-- Checkbox list -->
        <div class="content-head">
            Select List Groups
        </div>

        <div class="content-subtitle">
            Select List groups contains items with checkboxes. They are useful for refining the products search on an eCommerce website.
        </div>

        <div class="example-div">
            <div class="check-list">
                <div class="list-title">
                    Refine search
                </div>
                <div class="check-title">
                    Brand
                </div>
                <div class="checkbox">
                    <label for="checkbox-1">
                        <input id="checkbox-1" name="checkbox" type="checkbox" checked>
                        Apple
                    </label>
                    <label for="checkbox-2">
                        <input id="checkbox-2" name="checkbox" type="checkbox">
                        Nokia 
                    </label>
                    <label for="checkbox-3">
                        <input id="checkbox-3" name="checkbox" type="checkbox">
                        Samsung
                    </label>
                </div>
            </div>
        </div>

        <div class="example-code">
            <pre>
                <code class="html">
        <-- Using 'check-list', 'list-title', 'check-title' & 'checkbox' class name -->
        
        &lt;div class="check-list">
            &lt;div class="list-title">
                Refine search
            &lt;/div>
            &lt;div class="check-title">
                Brand
            &lt;/div>
            &lt;div class="checkbox">
                &lt;label for="checkbox-1">
                    &lt;input id="checkbox-1" name="checkbox" type="checkbox" checked>
                    Apple
                &lt;/label>
                &lt;label for="checkbox-2">
                    &lt;input id="checkbox-2" name="checkbox" type="checkbox">
                    Nokia 
                &lt;/label>
                &lt;label for="checkbox-3">
                    &lt;input id="checkbox-3" name="checkbox" type="checkbox">
                    Samsung
                &lt;/label>
            &lt;/div>
        &lt;/div>
                </code></pre>
        </div>

</body>
</html>