<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="Navigation.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
<title>navigation</title>
</head>
<body>
    <div class="doc-container">
        <main class="doc-content">
            <div class="content-title">Navigation</div>
            <p class="content-subtitle">
              Navigation is used to navigate between different pages.
            </p>
            <div class="divider"></div>
        <div class="content-head">Desktop Simple NavBar</div>
        <div class="example-div">
        <nav class="navigation">
          <div class="navigation-logo">
             <h3 class="navigation-heading">Techno UI</h3>
          </div>
          <ul class="navbar-menu">
            <li class="navbar-link">Home</li>
            <li class="navbar-link">Project</li>
            <li class="navbar-link">About</li>
            <li class="navbar-link">Contact</li>
          </ul>
        </nav>
      </div>
        <div class="example-code">
          <pre>
              <code class = "html hljs xml">
    &lt;nav class="navigation"&gt;
    &lt;div class="navigation-logo"&gt;
    &lt;h3 class="navigation-heading">Techno UI&lt;/h3&gt;
    &lt;/div>
    &lt;ul class="navbar-menu">
    &lt;li class="navbar-link">Home&lt;/li&gt;
    &lt;li class="navbar-link">Project&lt;/li&gt;
    &lt;li class="navbar-link">About&lt;/li&gt;
    &lt;li class="navbar-link">Contact&lt;/li&gt;
    &lt;/ul>
    &lt;/nav>
              </code>
          </pre>
          </div>
        <div class="divider"></div>
    <div class="content-title">Navbar with social Icon</div>
        <div class="example-div">
        <nav class="navigation">
          <div class="navigation-logo">
            <h3 class="navigation-heading">TechnoUI</h3>
          </div>
          <ul class="navbar-menu">
            <li class="navbar-link">Home</li>
            <li class="navbar-link">Projects</li>
            <li class="navbar-link">Contact</li>
          </ul>
    
          <ul class="navbar-social">
            <li class="navbar-social-link"><i class="fab fa-twitter"></i></li>
            <li class="navbar-social-link"><i class="fab fa-github"></i></li>
          </ul>
        </nav>
        </div>
        <div class="example-code">
          <pre>
              <code class = "html hljs xml">
    &lt;nav class="navigation"&gt;
    &lt;div class="navigation-logo"&gt;
    &lt;h3 class="navigation-heading">Techno UI&lt;/h3&gt;
    &lt;/div&gt;
    &lt;ul class="navbar-menu"&gt;
    &lt;li class="navbar-link">Home&lt;/li&gt;
    &lt;li class="navbar-link">Project&lt;/li&gt;
    &lt;li class="navbar-link">Contact&lt;/li&gt;
    &lt;/ul>
            
    &lt;ul class="navbar-social"&gt;
    &lt;li class="navbar-social-link"&gt;&lt;i class="fab fa-twitter">&lt;/i&gt;&lt;/li&gt;
    &lt;li class="navbar-social-link"&gt;&lt;i class="fab fa-github">&lt;/i&gt;&lt;/li&gt;
    &lt;/ul>
    &lt;/nav>
              </code>
          </pre>
          </div>
        <div class="divider"></div>
        <div class="content-title">Navbar with searchBox</div>
        <div class="example-div">
        <nav class="navigation">
          <h3 class="navigation-heading">Techno UI</h3>
          <div class="navbar-search">
            <input type="search" class="searchbar" />
        <button class="navbar-btn">Search</button>
          </div>
          <ul class="navbar-menu">
            <li class="navbar-link">Home</li>
            <li class="navbar-link">Projects</li>
            <li class="navbar-link">Contact</li>
          </ul>
        </nav>
      </div>
        <div class="example-code">
          <pre>
              <code class = "html hljs xml">
    &lt;nav class="navigation">
    &lt;h3 class="navigation-heading">Techno UI&lt;/h3&gt;
    &lt;ul class="navbar-menu"&gt;
    &lt;li class="navbar-link">Home&lt;/li&gt;
    &lt;li class="navbar-link">Project&lt;/li&gt;
    &lt;li class="navbar-link">Contact&lt;/li&gt;
    &lt;/ul>
    &lt;div class="navbar-search"&gt;
    &lt;input type="search" class="searchbar" /&gt;
    &lt;button class="navbar-btn">Search&lt;/button&gt;
    &lt;/div&gt;
    &lt;/nav&gt;
              </code>
          </pre>
        </div>
         
    </main>
    </div>
 <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>