<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rating</title>
    <link rel="stylesheet" href="rating.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
</head>
<body>
    <div class="container">
        <nav>
            <div class="left-nav">
                <a href="../../index.html">Techno UI</a>
               
            </div>
            <ul class="right-nav">
                <li><a class="active" href="../../index.html">Home</a></li>
                <li><a class="active" href="#">Docs</a></li>
                
            </ul>
        </nav>
        <hr>
        <div class="doc-container">
            <div class="sidebar">
        
        <div>
            <div class="list-topic">
                <a href="/Getstarted/intorduction.html">Get Started</a>
                </div>
                <ul class="list-subtopic">
                    <li>
                        <a href="/Getstarted/intorduction.html">
                            Introduction
                        </a>
                    </li>
                    <li>
                        <a href="/components/colors/color.html">
                           Colors
                        </a>
                    </li>
                    <li>
                        <a href="/components/typography/typography.html">
                            Text Utilities
                        </a>
                    </li>
                    </ul>
            <div class="list-topic">
                <a href="/Components/Avatar/avatar.html">Components</a>
            </div>
            <ul class="list-subtopic">
                <li>
                    <a href="/components/avatar/avatar.html">
                        Avatar
                    </a>
                </li>
                <li>
                    <a href="/components/alert/alert.html">
                        Alert
                    </a>
                </li>
                <li>
                    <a href="/components/badge/badge.html">
                        Badge
                    </a>
                </li>
                <li>
                    <a href="/components/button/button.html">
                        Button
                    </a>
                </li>
                <li>
                    <a href="/components/card/card.html">
                        Card
                    </a>
                </li>
                <li>
                    <a href="/components/image/image.html">
                        Image
                    </a>
                </li>
                <li>
                    <a href="/components/input/input.html">
                        Input
                    </a>
                </li>
                <li>
                    <a href="/components/list/list.html">
                        List
                    </a>
                </li>
                <li>
                    <a href="/components/toast/toast.html">
                        Toast
                    </a>
                </li>
                <li>
                    <a href="/components/Navigation/Navigation.html">
                        Navigation
                    </a>
                </li>
                <li>
                    <a href="/components/modal/modal.html">
                        Modal
                    </a>
                </li>
                <li>
                    <a href="/components/rating/rating.html">
                        Rating
                    </a>
                </li>
                <li>
                    <a href="/components/grid/grid.html">
                        Grid
                    </a>
                </li>
                <li>
                    <a href="/components/slider/slider.html">
                        Slider
                    </a>
                </li>
               
    
            </ul>
        </div>
        </div>
    <main class="doc-content">
        <div class="content-title">
          Rating</div>
          <div class="content-subtitle">
            Ratings provide insight regarding others' opinions and experiences, and can allow the user to submit a rating of their own.
          </div>
          <div class="divider"></div>
          <div class="content-head">Default Rating</div>
          <p class="content-subtitle">
            Default Rating can be used by giving the class name <span class="keyword">default-rating</span> to the div tag. 
            Inside it, you can add the icons of your choice. Refer the HTML code snippet below.
          </p>
        <div class="example-div">
        <div class="display-component flex-row-center">
          <div class="default-rating">
            <i class="fas fa-star fa-2x" aria-hidden="true"></i>
            <i class="fas fa-star fa-2x" aria-hidden="true"></i>
            <i class="fas fa-star fa-2x" aria-hidden="true"></i>
            <i class="far fa-star fa-2x" aria-hidden="true"></i>
            <i class="far fa-star fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        </div>
        <div class="example-code">
            <pre>
         <code class="htm hljs xml">
            &lt;div class="default-rating">
                &lt;i class="fas fa-star fa-2x" aria-hidden="true">&lt;/i>
                &lt;i class="fas fa-star fa-2x" aria-hidden="true">&lt;/i>
                &lt;i class="fas fa-star fa-2x" aria-hidden="true">&lt;/i>
                &lt;i class="far fa-star fa-2x" aria-hidden="true">&lt;/i>
                &lt;i class="far fa-star fa-2x" aria-hidden="true">&lt;/i>
              &lt;/div>
              </code>
              </pre>
              </div>
              <div class="divider"></div>

    <footer>
        <div class="prev-comp">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path></svg>
            <a href="../modal/modal.html">Modal</a>
        </div>
        <div class="next-comp">
            <a href="../grid/grid.html">Grid</a>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path></svg>
        </div>
         </footer>
        </main>
        </div>
        </div>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

</body>
</html>