<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rating</title>
    <link rel="stylesheet" href="rating.css">
    <link rel="stylesheet" href="/css/components.css">
    <!-- <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
</head>
<body>
    <div class="doc-container">
    <main class="doc-content">
        <div class="content-title">
          Rating</div>
          <div class="content-subtitle">
            Ratings provide insight regarding others' opinions and experiences, and can allow the user to submit a rating of their own.
          </div>
          <div class="divider"></div>
          <div class="content-head">Default Rating</div>
          <p class="content-subtitle">
            Default Rating can be used by giving the class name <span class="keyword">default-rating</span> to the div tag. 
            Inside it, you can add the icons of your choice. Refer the HTML code snippet below.
          </p>
        <div class="example-div">
        <div class="display-component flex-row-center">
          <div class="default-rating">
            <i class="fas fa-star fa-2x" aria-hidden="true"></i>
            <i class="fas fa-star fa-2x" aria-hidden="true"></i>
            <i class="fas fa-star fa-2x" aria-hidden="true"></i>
            <i class="far fa-star fa-2x" aria-hidden="true"></i>
            <i class="far fa-star fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        </div>
        <div class="example-code">
            <pre>
         <code class="htm hljs xml">
            &lt;div class="default-rating">
                &lt;i class="fas fa-star fa-2x" aria-hidden="true">&lt;/i>
                &lt;i class="fas fa-star fa-2x" aria-hidden="true">&lt;/i>
                &lt;i class="fas fa-star fa-2x" aria-hidden="true">&lt;/i>
                &lt;i class="far fa-star fa-2x" aria-hidden="true">&lt;/i>
                &lt;i class="far fa-star fa-2x" aria-hidden="true">&lt;/i>
              &lt;/div>
              </code>
              </pre>
              </div>
        </main>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

</body>
</html>