<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>badge</title>
     <link rel="stylesheet" href="badge.css">
     <script src="https://kit.fontawesome.com/76236e6232.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="doc-content">
    <div class="badge-container">
     <h1 class="badge-header">BADGE</h1>
    <p>Badges are numerical indicators of how many items are associated with a link</p>
   <div class="content-head">Avatars With Badge</div>
   <div class="content-subtitle">
     "Avatar Badge is used to show the current status of a user"
    It can be used with 3 variants : online | offline | dnd
    </div>
    <div class="example-div">
        <div class="badge">
        <img class="avatar" src="https://picsum.photos/id/1011/300/300" alt="avatar-2">
        <div class="online"></div>
    </div>
<div class="badge">
    <img class="avatar" src="https://picsum.photos/id/1003/300/300" alt="avatar-2">
   <div class="offline"></div>
    </div>
    <div class="badge">
        <img class="avatar" src="https://picsum.photos/id/1005/300/300" alt="avatar-2">
       <div class="dnd"></div>
        </div>
    </div>
    <div class="example-code">
    <pre>
        <code class="htm hljs xml">
        
    </code>
    </pre>
    </div>
    <div class="divider"></div>
    <div class="content-head">Icons With Badge</div>
    <div class="content-subtitle"> 
        "Icon badge is used to show the no.of items present in the component"
    </div>
    <div class="example-div">
        <div class="badge">
            <i class="fas fa-home"></i>
            <div class="number">8</div>
        </div>
        <div class="badge">
            <i class="fas fa-envelope"></i>
            <div class="number">12</div>
        </div>
    </div>
    <div class="example-code">
     <pre>
    <code class="htm hljs xml">
            
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"badge"</span>>
        <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-home"</span>><span class="hljs-tag">&lt;/</span><span class="hljs-name">i</span>>     
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"number"</span>><span class="hljs-string">8</span><span class="hljs-tag">&lt;/</span><span class="hljs-name">div</span>>
        <span class="hljs-tag">&lt;/</span><span class="hljs-name">div</span>>
        </span>   
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"badge"</span>>
        <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-envelope"</span>><span class="hljs-tag">&lt;/</span><span class="hljs-name">i</span>>     
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"number"</span>><span class="hljs-string">12</span><span class="hljs-tag">&lt;/</span><span class="hljs-name">div</span>>
        <span class="hljs-tag">&lt;/</span><span class="hljs-name">div</span>>
        </span>   
    
    </code>
   </pre>
</div>
</div>
</body>
</html>