<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>badge</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
     integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" 
     crossorigin="anonymous" />
    
</head>
<body>
    <div class="container">
        <nav>
            <div class="left-nav">
                <a href="../../index.html">Techno UI</a>
               
            </div>
            <ul class="right-nav">
                <li><a href="../../index.html">Home</a></li>
                <li><a class="active" href="#">Docs</a></li>
                
            </ul>
        </nav>
        <hr>
        <div class="doc-container">
            <div class="sidebar">
        
        <div>
            <div class="list-topic">
                <a href="/Getstarted/intorduction.html">Get Started</a>
                </div>
                <ul class="list-subtopic">
                    <li>
                        <a href="/Getstarted/intorduction.html">
                            Introduction
                        </a>
                    </li>
                    </ul>
            <div class="list-topic">
                <a href="/Components/Avatar/avatar.html">Components</a>
            </div>
            <ul class="list-subtopic">
                <li>
                    <a href="/components/avatar/avatar.html">
                        Avatar
                    </a>
                </li>
                <li>
                    <a href="/components/alert/alert.html">
                        Alert
                    </a>
                </li>
                <li>
                    <a href="/components/badge/badge.html">
                        Badge
                    </a>
                </li>
                <li>
                    <a href="/components/button/button.html">
                        Button
                    </a>
                </li>
                <li>
                    <a href="/components/card/card.html">
                        Card
                    </a>
                </li>
                <li>
                    <a href="/components/image/image.html">
                        Image
                    </a>
                </li>
                <li>
                    <a href="/components/input/input.html">
                        Input
                    </a>
                </li>
                <li>
                    <a href="/components/list/list.html">
                        List
                    </a>
                </li>
                <li>
                    <a href="/components/toast/toast.html">
                        Toast
                    </a>
                </li>
                <li>
                    <a href="/components/typography/typography.html">
                        Typography
                    </a>
                </li>

            </ul>
        </div>
        </div>

    <div class="doc-content">
    <div class="content-title">
     BADGE</div>
    <div class="content-subtitle">Badges are numerical indicators of how many items 
        are associated with a link</div>
   <div class="content-head">Avatars With Badge</div>
   <div class="content-subtitle">
     "Avatar Badge is used to show the current status of a user"
    It can be used with 3 variants : online | offline | dnd
    </div>
    <div class="example-div">
        <div class="badge">
        <img class="avatar" src="https://picsum.photos/id/1011/500/500" alt="avatar-2">
        <div class="online"></div>
    </div>
<div class="badge">
    <img class="avatar" src="https://picsum.photos/id/1003/500/500" alt="avatar-2">
   <div class="offline"></div>
    </div>
    <div class="badge">
        <img class="avatar" src="https://picsum.photos/id/1005/500/500" alt="avatar-2">
       <div class="dnd"></div>
        </div>
    </div>
    <div class="example-code">
    <pre class="intro-code">
        <code class="html hljs xml">
        &lt;div class="badge">
        &lt;img class="avatar" src="https://picsum.photos/id/1011/500/500" alt="avatar-2">
        &lt;div class="online">&lt;/div>
        &lt;/div>
        &lt;div class="badge">
        &lt;img class="avatar" src="https://picsum.photos/id/1003/500/500" alt="avatar-2">
        &lt;div class="ofline">&lt;/div>
        &lt;/div>
        &lt;div class="badge">
        &lt;img class="avatar" src="https://picsum.photos/id/1003/500/500" alt="avatar-2">
        &lt;div class="dnd">&lt;/div>
        &lt;/div>

    </code>
    </pre>
    </div>
    <div class="divider"></div>
    <div class="content-head">Icons With Badge</div>
    <div class="content-subtitle"> 
        "Icon badge is used to show the no.of items present in the component"
    </div>
    <div class="example-div">
        <div class="badge">
            <i class="fa fa-home"></i>
            <div class="number">8</div>
        </div>
        <div class="badge">
            <i class="fa fa-envelope"></i>
            <div class="number">12</div>
        </div>
    </div>
    <div class="example-code">
     <pre class="intro-code">
    <code class="html">
        &lt;script src="https://kit.fontawesome.com/76236e6232.js" crossorigin="anonymous">&lt;/script>    
        &lt;div class="badge">
        &lt;i class="fa fa-home">&lt;/i>
        &lt;div class="number">8&lt;/div>
        &lt;/div>
        &lt;div class="badge">
        &lt;i class="fa fa-envelope">&lt;/i>
        &lt;div class="number">12&lt;/div>
        &lt;/div>

    
    </code>
   </pre>
</div>
<div class="divider"></div>

    <footer>
        <div class="prev-comp">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path></svg>
            <a href="../alert/alert.html">Alert</a>
        </div>
        <div class="next-comp">
            <a href="../button/button.html">Button</a>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path></svg>
        </div>
         </footer>
</div>
</div>
</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>