

.badge {
    position: relative;
    width: max-content;
}
.avatar{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 10px;
}

.badge > div {
    bottom: 5px;
    right: 10px;
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid white;
}
.badge .online {
    background-color: green;
}
.badge .offline {
    background-color: gray;
}
.badge .dnd {
    background-color: red;
}

.badge > i {
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin: 0 10px;
}
.badge .number {
   
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        right: 8px;
        position: absolute;
        font-size: 1rem;
        background-color: red;
        color: white;
        font-weight: 600;
        height: 21px;
        width: 22px;
        border: none;
    }






   