<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modal</title>
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>

</head>
<body>
    <div class="doc-container">

            <main class="doc-content">
                <div class="content-title">Modal</div>
                <div class="content-subtitle">
                    Modals are good for notifying the user about an action on the web page
                </div>
            <div class="divider"></div>
         <div class="example-div">
            <div class="section-main-text flex-center">
                <div class="modal">
                    <h4>
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Are you sure
                        want to delete this Item ?
                    </h4>
                <div class="dialog-btn">
                        <button class="btn secondary">Cancel</button>
                        <button class="btn danger">Delete</button>
                    </div>
                    </div>
                    </div>
                </div>
                   
                <div class="example-code">
                    <pre>
                 <code class="htm hljs xml">
                    &lt;div class="modal">
                    &lt;h4>
                    &lt;i class="fa fa-exclamation-circle" aria-hidden="true">&lt;/i>
                    Are you sure want to delete thi Item ?
                    &lt;/h4>
                    &lt;div class="dialog-btn">
                    &lt;button class="btn secondary">Cancel>&lt;/button>
                    &lt;button class="btn secondary">Delete>&lt;/button>
                    &lt;div
                 </code>
                </pre>
                </div>
                <div class="divider"></div>
                <footer>
                    <div class="prev-comp">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path></svg>
                        <a href="../input/typography.html">Typography</a>
                    </div>
                    <div class="next-comp">
                        <a href="../toast/toast.html">Toast</a>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path></svg>
                    </div>
                     </footer>
             </main>
            </div>
           
            
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>