.alert-box {
    flex-direction: column;
}
.primary {
    background-color: #3b82f6;
}
.alert {
    width: 50%;
    color: white;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-family: sans-serif;
}
.error {
    background-color: #ef4444;
}
.success {
    background-color: #22c55e;
}
.warning {
    background-color: #facc15;
}
