<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="alert.css">
    <script src="https://kit.fontawesome.com/76236e6232.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="doc-content">
        <div class="content-title">Alert</div>
        <div class="content-subtitle">
            "An alert displays a short, important message in a way that attracts the user 
            attention without interrupting the user's task "
        </div>
        <div class="divider"></div>
        <div class="content-head">Standared Alert</div>
        <div class="content-subtitle">
            "standared alert can be created using alert class.
            followed by the variant name"
        </div>
        <div class="example-div alert-box">
            <div class="alert primary">
                <i class="fas fa-question-circle"></i>
                <strong>Primary!</strong>
                "This is a primary Alert"

            </div>
            <div class="alert error">
                <i class="far fa-times-circle"></i>
                <strong>Error!</strong>
                "This is an Error Alert"
            </div>
            <div class="alert success">
                <i class="far fa-check-circle"></i>
                <strong>Succes!</strong>
                "This is a Success Alert"
            </div>
            <div class="alert warning">
                <i class="fas fa-exclamation-triangle"></i>
                <strong>Warning!</strong>
                "This is a Warning Alert"
            </div>
        </div>
    
    <div class="example-code">
        <pre>
            <code class="htm hljs xml">
                
            &lt;div class="alert primary">
            &lt;i class="fas fa-question-circle">&lt;/i>
            &lt;strong>primary!&lt;/strong>"This is a primary Alert"
            &lt;/div>
            &lt;div class="alert error">
            &lt;i class="fas fa-times-circle">&lt;/i>
            &lt;strong>error!&lt;/strong>"This is a error Alert"
            &lt;/div>
            &lt;div class="alert success">
            &lt;i class="fas fa-check-circle">&lt;/i>
            &lt;strong>success&lt;/strong>"This is a Success Alert"
            &lt;/div>
            &lt;div class="alert warning">
            &lt;i class="fas fa-exclamation-triangle">&lt;/i>
            &lt;strong>warning!&lt;/strong>"This is a warning Alert"
            &lt;/div>
            </code>
        </pre>
        </div>
        </div>
</body>
</html>